@using ExampleApp.WebAPI.ViewModels.Vehicles;
@model VehiclesPaginationViewModel;

@{
    ViewData["Title"] = "Vehicles";
    var prevDisabled = @Model.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = @Model.TotalSize <= @Model.PageSize * @Model.PageNumber ? "disabled" : "";
}
<div class="input-forms mt-2">
    <div>
        <form asp-action="CreateVehicle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="w-50 mb-3">
                <label asp-for="@Model.Name" class="form-label"></label>
                <input asp-for="@Model.Name" class="form-control">
            </div>
            <div class="w-50 mb-3">
                <label asp-for="@Model.Abbrv" class="form-label"></label>
                <input asp-for="@Model.Abbrv" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        <form asp-action="VehiclesView" method="get" class="mt-3">
            <label for="searchString" class="form-label">Search:</label>
            <input type="text" name="searchString" id="searchString" placeholder="Name or abbreviation" class="w-50 form-control"/>
            <label for="pageSize" class="mt-3">Choose size of page:</label>
            <select name="pageSize" id="pageSize" class="w-50 mt-2 form-select form-select-sm">
                <option selected="@(Model.PageSize==5)" value="5">5</option>
                <option selected="@(Model.PageSize==10)" value="10">10</option>
                <option selected="@(Model.PageSize==15)" value="15">15</option>
            </select>
            <select name="sortOrder" id="sortOrder" class="w-50 mt-2 form-select form-select-sm">
                <option selected='' value="">Choose sort option</option>
                <option selected='@(Model.SortOrder=="name_asc")' value="name_asc">Name ascending</option>
                <option selected='@(Model.SortOrder=="name_desc")' value="name_desc">Name descending</option>
                <option selected='@(Model.SortOrder=="abbrv_asc")' value="abbrv_asc">Abbreviation ascending</option>
                <option selected='@(Model.SortOrder=="abbrv_desc")' value="abbrv_desc">Abbreviation descending</option>
            </select>
            <input type="text" name="pageNumber" style="display:none" value="1">
            <button type="submit" class="btn btn-primary mt-3">Search</button>  
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Abbrv)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var v in Model.Vehicles)
    {
        <tr>
            <th>
                @v.Id
            </th>
            <td>
                @v.Name
            </td>
            <td>
                @v.Abbrv
                <div class="forms-wrapper">
                    <div class="form">
                        <form asp-action="DeleteVehicle" asp-route-id="@v.Id">
                            <label for="@v.Id">Delete</label>
                            <input type="submit" id="@v.Id"/>
                        </form>
                    </div>
                    <div class="form">
                        <a asp-action="UpdateView" asp-route-id="@v.Id" style="text-decoration: none">Edit</a>
                    <!--<form asp-action="UpdateView" asp-route-id="@v.Id" method="get">
                            <label for="@v.Id">Edit</label>
                            <input type="submit" id="@v.Id"/>
                        </form>-->
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a 
                class="page-link" 
                asp-route-pageNumber="@(Model.PageNumber-1)"
                asp-route-pageSize ="@(Model.PageSize)"
                asp-route-searchString="@(Model.FilterString)"
                asp-route-sortOrder="@(Model.SortOrder)">
                    Previous
            </a>
        </li>
        <li class="page-item active">
            <span class="page-link">@(Model.PageNumber)</span>
        </li>
        <li class="page-item @nextDisabled">
            <a 
                class="page-link" 
                asp-route-searchString="@(Model.FilterString)" 
                asp-route-pageSize ="@(Model.PageSize)"
                asp-route-pageNumber="@(Model.PageNumber+1)"
                asp-route-sortOrder="@(Model.SortOrder)">
                    Next
            </a>
        </li>
    </ul>
</nav>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}